footer#footer
    span.copyright © PsychAdmin, 2023
    .social
        img(src="../dist/img/github.svg")
        .social-btn.github-hrefs
            a.not-route(href="https://github.com/kalashkovpaul/" target="_blank") Калашков Павел
            a.not-route(href="https://github.com/xanderkov") Ковель Александр
    .copyright
