include ../carousel/carousel

div.content_wrapper
    page.page
        div(class = "content_container")
            h1.title PsychAdmin
            div.description Наша психбольница имеет следующие преимущества:
            div.bg_container
                div.colplections__container
                    +carousel
