div.review-input-block
    div.review-input-block__dropdown
        select
            option(value="0") Выберите тип записи
            option(value="1") Лекарства
            option(value="2") Опрос
            option(value="3") Вывод
    textarea(class="review-input-block__text-input" placeholder="Снова буянил..." maxlength="500")
    div.review-input-block__submit Создать запись
