mixin carousel()
    section.slider-wrapper
        button.slide-arrow#slide-arrow-prev &#8249;
        button.slide-arrow#slide-arrow-next &#8250;
        ul.slides-container#slides-container
            li.slide
            li.slide
            li.slide
            li.slide
            li.slide
            li.slide
            li.slide
            li.slide
            li.slide
            li.slide
            li.slide
            li.slide
            li.slide
            li.slide
            li.slide