header.navbar
    .navbar__vertical-menu
        .navbar__vertical-menu__main-btn
            .burger-left
            .burger-right
        .navbar__vertical-menu__btn-container
            a.navbar__menu-btn.collections(href="/doctors") Врачи
            if userFromStorage
                a.navbar__menu-btn.genres(href="/rooms") Палаты

    a.navbar__logo(href="/" data-section="main")
        div.navbar__logo__main-title PSYCHADMIN
        div.navbar__logo__second-title MENTAL HOSPITAL

    div.navbar__menu
        a.navbar__menu-btn.collections(href="/doctors") Врачи
        if userFromStorage
            a.navbar__menu-btn.genres(href="/rooms") Палаты
    if userFromStorage
        include userBlock/userBlock.pug
    else
        include loginButton.pug